:root {
  --emph-one: #582c4d; /*  rgb(70, 36, 9)*/
  --emph-two: #a26769;
  --bk-color: #d5b9b2;
  --bk-med: #bfb5af; /* bisque */
  --bk-light: #ece2d0; /* rgb(248, 240, 230) */
  --white: #e4e4e4;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  background-color: var(--emph-one);
  color: var(--white);
  padding: 10px 0;
}

body {
  color: var(--emph-one);
  background-color: var(--bk-light);
}

.page-container {
  max-width: 100%;
  color: var(--emph-one);
  background-color: var(--bk-light);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.content {
  max-width: 900px;
  color: var(--emph-one);
  background-color: var(--bk-light);
}

h1 {
  text-align: center;
}

.recipe {
  background-color: var(--bk-color);
  margin: 10px;
  padding: 5%;
  border-radius: 5px;
}

.recipe-photo {
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border: 5px solid var(--bk-light);
  margin: 10px 0;
}

.category-btns button {
  color: var(--emph-one);
  background-color: var(--bk-color);
  border: 1px solid var(--emph-one);
  margin: 5px;
  border-radius: 5px;
}

.category-btns button:focus {
  outline: 0;
}

input {
  background-color: var(--white);
  border: 3px solid var(--emph-one);
  border-radius: 5px;
}

input:focus {
  outline: 0;
}
